@font-face {
    font-family: "letra";
    src: url(../storage/fonts/Orbitron-Regular.ttf);
}

@font-face {
    font-family: "sans";
    src: url(../storage/fonts/InriaSans-Regular.ttf);
}



body {
    background-color: black;
    width: 1920px;
    height: 1080px;
    animation: animacion1 50s infinite;
    background-repeat: no-repeat;
    background-size: 100%;
}

.panel_interactivo {
    position: relative;
    width: 88vw;
    background-color: white;
    height: 10vh;
    top: 4vh;
    left: 5.5vw;
    border-radius: 50px;
}

.pilotos {
    position: relative;
    font-family: "letra";
    color: black;
    font-size: 2.5vw;
    padding-top: 3vh;
    padding-left: 2vw;
}

.coches {
    position: relative;
    font-family: "letra";
    color: black;
    font-size: 2.5vw;
    left: 15vw;
    top: -8.5vh;
}

.circuitos {
    position: relative;
    font-family: "letra";
    color: black;
    font-size: 2.5vw;
    left: 30vw;
    top: -17.5vh;
}

.escuderias {
    position: relative;
    font-family: "letra";
    color: black;
    font-size: 2.5vw;
    left: 48vw;
    top: -26.4vh;
}

.personalizar {
    position: relative;
    font-family: "letra";
    color: black;
    font-size: 2.5vw;
    left: 68vw;
    top: -20vw;
}

/* -------------------------------------------------------------------------------------------------- */
.imagen_click {
    position: relative;
    border-radius: 20px;
    width: 450px;
    margin-top: 0vh;
    flex: 0 0 calc(550px - 10px);
    margin: right;
    height: 400px;
    background-repeat: no-repeat;

}

.circuito {
    position: relative;
    width: 550px;
    height: 300px;
    top: 0vh;
    border-radius: 70px;
    left: 0vw;
}

.nombre_circuito {
    position: relative;
    font-family: "letra";
    color: white;
    font-size: 36px;
    top: -1vh;
    text-align: center;
    
}

.container_circuito {
    position: relative;
    width: 836px;
    height: 900px;
    background-color: black;
    border-radius: 70px;
    left: 30vw;
    top: 10vh;
    padding: 20px;
}

.imagen_click {
    position: relative;
    top: 2vh;
    left: 9.5vw;
}

.nombre_circuito_card {
    position: relative;
    font-family: "letra";
    font-size: 32px;
    top: 0.5vh;
    color: red;
    text-align: center;
}

.nombre_pais_card {
    position: relative;
    font-family: "letra";
    font-size: 32px;
    color: red;
    text-align: center;
    top: -1vh;
}

.descripcion_card {
    position: relative;
    font-family: "letra";
    font-size: 32px;
    color: red;
    top: -1vh;
    text-align: center;
}

.num_vueltas {
    position: relative;
    font-family: "letra";
    font-size: 32px;
    color: red;
    top: -2vh;
    text-align: center;
}

.longitud {
    position: relative;
    font-family: "letra";
    font-size: 32px;
    color: red;
    top: -2vh;
    text-align: center;
}

.record {
    position: relative;
    font-family: "letra";
    font-size: 32px;
    color: red;
    top: -2vh;
    text-align: center;


}

.mostrar_circuitos {
    top: 7vh;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
}

.link {
    position: relative;
    width: 10vw;
    height: 10vh;
    font-size: 50px;
    font-family: "letra";
}
@keyframes animacion1 {
    0% {
        background-image: url("../storage/images/pilotos_todos1.png")
    }

    25% {
        background-image: url("../storage/images/vuelta1.png");
    }
    
    50% {
        background-image: url("../storage/images/escuderias2.png")
    }

    75% {
        background-image: url("../storage/images/taller1.png")
    }

    100% {
        background-image: url("../storage/images/pilotos_todos1.png")
    }

    
}

a {
    text-decoration: none;
}

.link {
    position: relative;
    color: red;
    left: -15vw;
    top: -40vh;
    background-color: black;
    width: 20vw;
    height: 5vh;
    padding: 2%;
    border-radius: 60px;
}