@font-face {
    font-family: "letra";
    src: url(../storage/fonts/Orbitron-Regular.ttf);
}

@font-face {
    font-family: "sans";
    src: url(../storage/fonts/InriaSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;

}


body {
    width: 1920px;
    height: 1080px;
    background-image: url("../storage/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.background {
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: 100%;
    position: absolute;    

}

.login_text {
    position: relative;
    font-family: "letra";
    color: #ff0000;
    width: 31vw;
    font-size: 4vw;
    top: 9vh;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.cuadro1 {
    position: relative;
  width: 40vw;
  height: 11vh;
  top: 23vh;
  left: 27.5vw;
  font-family: "sans";
  font-size: 30px;
  border-radius: 195px;
  padding-left: 100px; /* <--- Aquí empujas el texto hacia la derecha */
}

.cuadro2 {
    position: relative;
    top: 32vh;
    width: 40vw;
    height: 11vh;
    left: 27.5vw;
    font-family: "sans";
    font-size: 30px;
    border-radius: 195px;
    padding-left: 100px;
}

.redirecciones {
    filter: saturate(10);
}

.boton {
    position: relative;
    top: 42vh;
    width: 27vw;
    height: 12vh;
    font-family: "letra";
    background-color: #ff0000 ;
    border-radius: 195px;
    left: 37vw;
    color: white;

}
.text_boton{
    text-decoration: none;
    color: white;
    font-size: 4vw;
}
.text_Register {
    position: relative;
    font-family: "letra";
    color: white;
    font-size: 2vw;
    top: 48vh;
    left: 25vw;

}

.create_account {
    position: relative;
    font-family: "letra";
    font-size: 2vw;
    color: red;
    top: 44.5vh;
    left: 59vw;
}

.icono1 {
    position: relative;
    width: 4vw;
    top: 25.6vh;
    left: -17vw;
    
}

input::placeholder {
    padding-left: -1vw;
    
}

.icono2 {
    position: relative;
    width: 4vw;
    top: 34.6vh;
    left: -17vw;

}

