@font-face {
    font-family: "letra";
    src: url(../storage/fonts/Orbitron-Black.ttf);
}

@font-face {
    font-family: "sans";
    src: url(../storage/fonts/InriaSans-Regular.ttf);
}

body {
    width: 1920px;
    height: 1080px;
    background-image: url("../storage/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.login_text {
    position: relative;
    font-family: "letra";
    color: red;
    width: 50vw;
    font-size: 3vw;
    left: 37vw;
    
}

.cuadro_usuario {
    position: relative;
    font-family: "sans";
    width: 40vw;
    height: 6vh;
    font-size: 30px;
    border-radius: 195px;
    left: 28.5vw;
    top: 1vh;
}

.cuadro1 {
    position: relative;
    width: 40vw;
    height: 6vh;
    top: 12vh;
    left: 28.5vw;
    font-family: "sans";
    font-size: 30px;
    border-radius: 195px;
}

.cuadro2 {
    position: relative;
    top: 20vh;
    width: 40vw;
    height: 6vh;
    left: 28.5vw;
    font-family: "sans";
    font-size: 30px;
    border-radius: 195px;
}

.boton {
    position: relative;
    top: 39vh;
    width: 18.5vw;
    height: 8vh;
    font-size: 2.5vw;
    font-family: "letra";
    background-color: red;
    border-radius: 195px;
    left: -1vw;
    color: white;
}

.text_Register {
    position: relative;
    font-family: "letra";
    color: white;
    font-size: 1.8vw;
    top: 40vh;
    left: 32vw;

}

.create_account {
    position: relative;
    font-family: "letra";
    font-size: 1.8vw;
    color: red;
    top: 31.3vh;
    left: 54vw;
}



